:root {
    --color: #FFF0CD;
    --color-1: #FD8F52;
    --color-2: #ff8d71;
    --color-3: #FFDCA2;
    
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 26px;
}

body {
    background: #FFF0CD;
    font-family: 'Nato sans', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-height: 42px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.menu-list {
    padding-left: 0;
    margin: auto 16px;
}

.menu-item {
    background: #FFF0CD;
    padding: 8px 20px;
    list-style: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: flex-start; 
    background-color: white;
}


.nav-item {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: grey;
    border-radius: 20px 20px 0 0;
}

.active {
    background-color: bisque;
    border-radius: 20px 20px 0 0;
}

.content {
    background: white;
}
.content_header {
    background: #facb21;
    display: flex;
}

.table_content {
    background: #FFF0CD;
    align-items: center;
    justify-self: center;
    border-bottom: 1px solid #ddd;
    overflow-x: auto;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {background-color: #a02c2c;}